OVERRIDE_HOSTNAME=mail.apfel-park.de
POSTMASTER_ADDRESS=postmaster@apfel-park.de
ENABLE_RSPAMD=1
ENABLE_RSPAMD_REDIS=1
ENABLE_CLAMAV=0
ENABLE_OPENDKIM=0
ENABLE_OPENDMARC=0
ENABLE_POLICYD_SPF=0
ENABLE_AMAVIS=0
ENABLE_SPAMASSASSIN=0
ENABLE_POSTGREY=0
RSPAMD_GREYLISTING=0
SSL_TYPE=letsencrypt
SSL_CERT_PATH=/etc/letsencrypt/live/apfel-park.de/fullchain.pem
SSL_KEY_PATH=/etc/letsencrypt/live/apfel-park.de/privkey.pem
ONE_DIR=1
PERMIT_DOCKER=none
SPOOF_PROTECTION=1
ENABLE_FAIL2BAN=1
LOG_LEVEL=info
TZ=Europe/Berlin
