ROUNDCUBEMAIL_DEFAULT_HOST=mailserver
ROUNDCUBEMAIL_DEFAULT_PORT=587
ROUNDCUBEMAIL_SMTP_SERVER=mailserver
ROUNDCUBEMAIL_SMTP_PORT=587
ROUNDCUBEMAIL_DB_TYPE=sqlite
ROUNDCUBEMAIL_SKIN=elastic
ROUNDCUBEMAIL_PLUGINS=CHANGE_ME
