ROUNDCUBEMAIL_DEFAULT_HOST=ssl://mail.apfel-park.de
ROUNDCUBEMAIL_DEFAULT_PORT=993
ROUNDCUBEMAIL_SMTP_SERVER=tls://mail.apfel-park.de
ROUNDCUBEMAIL_SMTP_PORT=587
ROUNDCUBEMAIL_DB_TYPE=sqlite
ROUNDCUBEMAIL_SKIN=elastic
ROUNDCUBEMAIL_PLUGINS=CHANGE_ME
