@charset "UTF-8";

 
.tm-fixtech-icon-google-drive:before { content: '\e800'; } /* '' */
.tm-fixtech-icon-issuu:before { content: '\e801'; } /* '' */
.tm-fixtech-icon-user:before { content: '\e802'; } /* '' */
.tm-fixtech-icon-music:before { content: '\e803'; } /* '' */
.tm-fixtech-icon-video:before { content: '\e804'; } /* '' */
.tm-fixtech-icon-quote:before { content: '\e805'; } /* '' */
.tm-fixtech-icon-aside:before { content: '\e806'; } /* '' */
.tm-fixtech-icon-rss:before { content: '\e807'; } /* '' */
.tm-fixtech-icon-angle-left:before { content: '\e808'; } /* '' */
.tm-fixtech-icon-angle-right:before { content: '\e809'; } /* '' */
.tm-fixtech-icon-status:before { content: '\e80a'; } /* '' */
.tm-fixtech-icon-dribbble:before { content: '\e80b'; } /* '' */
.tm-fixtech-icon-facebook:before { content: '\e80c'; } /* '' */
.tm-fixtech-icon-flickr:before { content: '\e80d'; } /* '' */
.tm-fixtech-icon-gplus:before { content: '\e80e'; } /* '' */
.tm-fixtech-icon-instagram:before { content: '\e80f'; } /* '' */
.tm-fixtech-icon-linkedin:before { content: '\e810'; } /* '' */
.tm-fixtech-icon-pinterest:before { content: '\e811'; } /* '' */
.tm-fixtech-icon-twitter:before { content: '\e812'; } /* '' */
.tm-fixtech-icon-vk:before { content: '\e813'; } /* '' */
.tm-fixtech-icon-xing:before { content: '\e814'; } /* '' */
.tm-fixtech-icon-yelp:before { content: '\e815'; } /* '' */
.tm-fixtech-icon-youtube:before { content: '\e816'; } /* '' */
.tm-fixtech-icon-gallery:before { content: '\e817'; } /* '' */
.tm-fixtech-icon-plus:before { content: '\e818'; } /* '' */
.tm-fixtech-icon-link:before { content: '\e819'; } /* '' */
.tm-fixtech-icon-tag:before { content: '\e81a'; } /* '' */
.tm-fixtech-icon-clock:before { content: '\e81b'; } /* '' */
.tm-fixtech-icon-heart:before { content: '\e81c'; } /* '' */
.tm-fixtech-icon-sticky:before { content: '\e81d'; } /* '' */
.tm-fixtech-icon-marker:before { content: '\e81e'; } /* '' */
.tm-fixtech-icon-comment:before { content: '\e81f'; } /* '' */
.tm-fixtech-icon-chat:before { content: '\e820'; } /* '' */
.tm-fixtech-icon-podcast:before { content: '\e821'; } /* '' */
.tm-fixtech-icon-houzz:before { content: '\e822'; } /* '' */
.tm-fixtech-icon-image:before { content: '\e823'; } /* '' */
.tm-fixtech-icon-cart:before { content: '\e824'; } /* '' */
.tm-fixtech-icon-search:before { content: '\e825'; } /* '' */
.tm-fixtech-icon-arrow-right:before { content: '\e826'; } /* '' */
.tm-fixtech-icon-pencil:before { content: '\e827'; } /* '' */
.tm-fixtech-icon-mobile:before { content: '\e828'; } /* '' */
.tm-fixtech-icon-comment-1:before { content: '\e829'; } /* '' */
.tm-fixtech-icon-world:before { content: '\e82a'; } /* '' */
.tm-fixtech-icon-location-pin:before { content: '\e82b'; } /* '' */
.tm-fixtech-icon-quote-left:before { content: '\e82c'; } /* '' */
.tm-fixtech-icon-close:before { content: '\e82d'; } /* '' */
.tm-fixtech-icon-comments-smiley:before { content: '\e82e'; } /* '' */
.tm-fixtech-icon-category:before { content: '\e82f'; } /* '' */
.tm-fixtech-icon-tag-1:before { content: '\e830'; } /* '' */
.tm-fixtech-icon-shift-right:before { content: '\e831'; } /* '' */
.tm-fixtech-icon-mail:before { content: '\e832'; } /* '' */
.tm-fixtech-icon-phone:before { content: '\e833'; } /* '' */
.tm-fixtech-icon-arrow-left:before { content: '\e834'; } /* '' */
.tm-fixtech-icon-gallery-1:before { content: '\e835'; } /* '' */
.tm-fixtech-icon-music-alt:before { content: '\e836'; } /* '' */
.tm-fixtech-icon-shopping-cart:before { content: '\e837'; } /* '' */
.tm-fixtech-icon-heart-empty:before { content: '\e838'; } /* '' */
.tm-fixtech-icon-check:before { content: '\e839'; } /* '' */
.tm-fixtech-icon-arrow-left-1:before { content: '\e83a'; } /* '' */
.tm-fixtech-icon-plus-1:before { content: '\e83b'; } /* '' */
.tm-fixtech-icon-unlink:before { content: '\e83c'; } /* '' */
.tm-fixtech-icon-quote-right:before { content: '\e83d'; } /* '' */
.tm-fixtech-icon-home:before { content: '\e83e'; } /* '' */
.tm-fixtech-icon-search-1:before { content: '\e841'; } /* '' */
.tm-fixtech-icon-eye:before { content: '\e842'; } /* '' */
.tm-fixtech-icon-basket:before { content: '\e843'; } /* '' */
.tm-fixtech-icon-paper-plane:before { content: '\e844'; } /* '' */
.tm-fixtech-icon-arrow-circle-down:before { content: '\e845'; } /* '' */
.tm-fixtech-icon-minus:before { content: '\e846'; } /* '' */
.tm-fixtech-icon-minus-1:before { content: '\e847'; } /* '' */
.tm-fixtech-icon-left-open-big:before { content: '\e848'; } /* '' */
.tm-fixtech-icon-right-open-big:before { content: '\e849'; } /* '' */
.tm-fixtech-icon-location:before { content: '\e84a'; } /* '' */
.tm-fixtech-icon-comment-3:before { content: '\e84b'; } /* '' */
.tm-fixtech-icon-user-1:before { content: '\e84c'; } /* '' */
.tm-fixtech-icon-star-1:before { content: '\e84d'; } /* '' */
.tm-fixtech-icon-star-empty-1:before { content: '\e84e'; } /* '' */
.tm-fixtech-icon-folder:before { content: '\e84f'; } /* '' */
.tm-fixtech-icon-angle-double-left:before { content: '\f100'; } /* '' */
.tm-fixtech-icon-angle-double-right:before { content: '\f101'; } /* '' */
.tm-fixtech-icon-angle-up:before { content: '\f106'; } /* '' */
.tm-fixtech-icon-angle-down:before { content: '\f107'; } /* '' */
.tm-fixtech-icon-quote-right-1:before { content: '\f10e'; } /* '' */
.tm-fixtech-icon-tumblr:before { content: '\f173'; } /* '' */
.tm-fixtech-icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.tm-fixtech-icon-digg:before { content: '\f1a6'; } /* '' */
.tm-fixtech-icon-share:before { content: '\f1e0'; } /* '' */
.tm-fixtech-icon-whatsapp:before { content: '\f232'; } /* '' */
.tm-fixtech-icon-reddit:before { content: '\f281'; } /* '' */
.tm-fixtech-icon-vimeo:before { content: '󨇎'; } /* '\e81ce' */